.gridSection {
  max-width: calc(var(--max-width) - 300px);
  padding: 6rem 0 6rem;
  margin: 0 auto;
  overflow-x: visible;
}

@media screen and (min-width: 1401px) {
  .gridSection {
    max-width: none;
    padding: 8rem 0 8rem;
  }

  .large {
    padding: 12rem 0 12rem;
  }
}
