.sectionHeader {
  p {
    position: relative;

    color: hsl(var(--foreground) / 0.9) !important;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   inset: -20px -20px -20px -20px;

    //   background-color: hsl(var(--background));
    //   z-index: -1;
    //   border-radius: 0;
    //   filter: blur(30px);
    // }
  }
}

.lightBeam {
  position: absolute;
  top: -50px;
  z-index: -100;
  height: 100%;
}
.content {
  width: 100%;
  position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: -200px;
  //   left: -1000%;
  //   right: -1000%;
  //   bottom: -200px;

  //   background: transparent;
  //   @media screen and (prefers-color-scheme: "dark") {
  //     background: linear-gradient(
  //       180deg,
  //       transparent 0%,
  //       #375482 1%,
  //       #1e293b40 5%,
  //       #1e293b63 10%,
  //       #1e293b80 20%,
  //       transparent 100%
  //     );
  //   }

  //   z-index: -1;
  // }
  .contentList {
    display: grid;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(350px, 620px));
    gap: 2rem;
    .contentItem {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 0.475rem;
      align-items: flex-start;
      justify-content: flex-start;

      --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

      color: hsl(var(--card-foreground));
      background-color: hsl(var(--card));
      border-radius: var(--radius);
      cursor: default;
      border: 1px solid hsl(var(--border));

      padding: 2.2rem 2rem;
      position: relative;
      overflow: hidden;

      z-index: 3;

      &::after {
        content: "";
        position: absolute;
        z-index: -10;
        opacity: 1;
        background-color: hsl(var(--muted) / 0.04);
        overflow: visible;

        top: 0px;
        bottom: 0px;
        left: -100%;
        right: 100%;

        border-top: 1px solid hsl(var(--muted));
        border-bottom: 1px solid hsl(var(--muted));
        border-width: 1px;
      }

      h3,
      p {
        z-index: 5;
      }

      h3 {
        font-size: 1.1rem;
      }

      p {
        max-width: 90%;
        font-size: 0.875rem;
        text-wrap: pretty;
        color: hsl(var(--muted-foreground));
      }

      .itemIcon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        opacity: 0.4;
        z-index: 4;
        svg {
          width: 55px;
          height: 55px;
          stroke: hsl(var(--foreground));
          stroke-width: 1px;
        }
      }

      .isMobile {
        bottom: 15px;
        right: 15px;
        svg {
          width: 35px;
          height: 35px;
        }
      }
    }

    .contentItemAnimationEven::after {
      background-color: hsl(var(--muted) / 0.05);
      animation: blingFadeEven 2s 0.25s ease-in-out;
    }

    .contentItemAnimationOdd::after {
      background-color: transparent;
      animation: blingFadeOdd 2s 0.25s ease-in-out;
    }
  }
}

@keyframes blingFadeEven {
  0% {
    left: 0;
    right: 100%;
  }

  50% {
    left: 0;
    right: 0%;
  }

  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes blingFadeOdd {
  0% {
    width: 50px;
    left: 0;
    right: 0;
  }
  100% {
    width: 65px;
    left: 100%;
    right: 0;
  }
}
