.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  z-index: 1;
  position: relative;
  background-color: hsl(var(--muted-foreground) / 0.2);
  &::after {
    content: "";
    position: absolute;
    top: calc(100% - 1.3px);
    left: -10000px;
    right: -10000px;
    height: 1.3px;
    background-color: hsl(var(--muted-foreground) / 0.5);
    z-index: 2;
  }

  .title-burger-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    .button {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;

    .title-burger-wrapper {
      .button {
        display: flex;
      }
    }
  }
}
