.learnMoreContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;

  margin: 220px auto 0;

  gap: 16rem;
  position: relative;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    justify-content: space-between;
    border-top: 2px solid hsl(var(--border));
    padding-top: 6rem;

    &:nth-child(2) {
      padding-top: 0;
      border-top: none;
    }

    .heading2,
    .paragraph {
      text-align: center;
    }

    .cardList {
      display: grid;
      grid-template-columns: repeat(2, minmax(250px, 280px));

      justify-content: center;
      gap: 8px;
      position: relative;
      border-radius: 12px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 12px;

        // background-color: light-dark(
        //   hsl(var(--black) / 0.9),
        //   hsl(var(--white) / 0.08)
        // );
        background-color: hsl(var(--card));
        border: 1px solid hsl(var(--border));
        height: 300px;

        padding: 1rem;
        position: relative;
        .cardTitle {
          margin-top: auto;
          font-size: 1rem;
          font-weight: 600;
          margin-bottom: 0.25rem;
          // color: light-dark(
          //   hsl(var(--white) / 0.8),
          //   hsl(var(--foreground) / 0.9)
          // );
          color: hsl(var(--foreground));
        }
        .cardText {
          font-size: 0.775rem;
          font-weight: 300;
          line-height: 1.65;
          // color: light-dark(
          //   hsl(var(--white) / 0.8),
          //   hsl(var(--muted-foreground))
          // );
          color: hsl(var(--muted-foreground));
        }

        .cardFigure {
          align-self: center;
          justify-self: flex-start;
          height: 100%;
          width: 100%;
          position: relative;
          overflow: hidden;

          .cardIllustration {
          }

          .taskviewerSVG {
            width: 100%;
            height: 100%;
          }
        }

        .cardFader {
          overflow: hidden;
          padding-bottom: 1rem;

          svg {
            width: 100%;
            height: 100%;
          }
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
              to bottom,
              hsl(var(--card)) 0%,
              transparent 40%
            );
            z-index: 10;
          }
        }

        .dragWrapper {
          overflow: hidden;
          padding-bottom: 1rem;
          .cardIllustration {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            position: relative;
          }

          // &::before {
          //   content: "";
          //   position: absolute;
          //   inset: 0;
          //   background: linear-gradient(
          //     to right,
          //     light-dark(#242424, hsl(var(--white) / 0.08)) 20%,
          //     transparent 30%
          //   );
          //   opacity: 1;
          //   z-index: 10;
          // }
        }
      }
    }

    .list {
      .listitem {
        list-style-type: none;
        .heading3 {
          font-size: 1rem;
        }
      }
    }

    .linkHref {
      color: hsl(var(--primary));
      text-decoration: none;

      &:visited {
        color: hsl(var(--foreground) / 0.6);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .imageWrapper {
  }
}

.lightBeam {
  position: absolute;
  min-width: calc(100% + 300px + 2 * 64px);
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: -100px;
  overflow: visible;
}

.heading2 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  text-wrap: balance;
  letter-spacing: -0.05em;
  line-height: 1;
  font-weight: 700;
}
.paragraph {
  font-size: 1rem;
  color: hsl(var(--muted-foreground));
  font-weight: 300;
  line-height: 1.45rem;
  width: fit-content;
  margin-bottom: 24px;
}

.lightBeamLoaded {
  animation: lightbeamLoad 0.5s ease-out forwards;
}

@keyframes lightbeamLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .aboutUsContent {
    margin: 6rem auto 0;
    .section {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .learnMoreContent {
    .section {
      .cardList {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        gap: 12px;

        .card {
          height: 320px;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .cardTitle {
            font-size: 1rem;
            margin-top: 1rem;
          }
          .cardText {
            font-size: 0.875rem;
            justify-self: flex-end;
          }

          .cardFigure {
          }

          .cardFader {
            padding-bottom: 1rem;
            svg {
              height: 100%;
              width: 100%;
            }
          }

          .dragWrapper {
            padding-bottom: 1rem;
            .cardIllustration {
              height: 100%;
              width: 100%;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}
