.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  gap: 4rem;
  width: fit-content;

  margin: 0 auto;
  padding: 0 32px;
  .tag {
    margin: -3rem auto 0;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
  }

  .left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .focus {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      opacity: 0;
      transform: translateY(-10px);
      transition:
        opacity 1.1s,
        transform 1.1s;
      h1 {
        font-size: 3rem;
        letter-spacing: -0.05em;
        line-height: 1;
        font-weight: 700;
        color: hsl(var(--foreground));
        text-wrap: balance;
      }

      .description {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: hsl(var(--muted-foreground));
        max-width: 700px;
        text-wrap: pretty;
      }
    }

    .cta {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      opacity: 0;
      transform: translateX(-10px);
      transition:
        opacity 1s 1s ease,
        transform 1s 1s ease;

      .link {
        border: none;
        overflow: hidden;
        cursor: pointer;

        border: 1px solid hsl(var(--border));
        border-radius: 8px;
        padding: 6px 12px;

        line-height: 1.75rem;
        background-color: transparent;
        overflow: hidden;
        text-decoration: none;
        transition:
          background-color 0.2s,
          transform 0.2s;
        &:active {
          transform: scale(0.95);
        }
      }
      .get_started {
        background-color: hsl(var(--primary));
        color: hsl(var(--white));

        &:hover {
          background-color: hsl(var(--primary) / 0.75);
        }
      }
      .learn_more {
        border: 1px solid hsl(var(--muted));
        color: hsl(var(--muted-foreground));

        &:hover {
          background-color: hsl(var(--muted));
        }
      }
    }
    .focusLoaded {
      opacity: 1;
      transform: translateY(0);
    }
    .ctaLoaded {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .right {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border-radius: 0.5rem;

    .image {
      border: 1px solid hsl(var(--border));
      border-radius: 0.5rem;
      opacity: 0;
      transform: translateY(-10px);
      transition:
        opacity 1.1s 1.5s ease,
        transform 1s 0.5s ease;
      overflow: hidden;
      animation: imageLoad 1s 1.5s ease forwards;

      box-shadow:
        0 -2px 5px rgba(0, 0, 0, 0.06),
        /* Top shadow */ 0 2px 5px rgba(0, 0, 0, 0.06),
        /* Bottom shadow */ -2px 0 5px rgba(0, 0, 0, 0.06),
        /* Left shadow */ 2px 0 5px rgba(0, 0, 0, 0.06);
    }

    // .imageLoaded {
    //   opacity: 1;
    //   transform: translateY(0);
    // }

    .landingSVG {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    .borderBeam {
      opacity: 0;
    }
    .borderBeamLoaded {
      animation: borderLoad 1s 1.5s linear forwards;
    }

    .imageShimmer {
      position: absolute;
      top: 0;
      left: -100px; /* Start shimmer offscreen */
      width: 70px; /* Width of the shimmer */
      height: 1px; /* Height of the shimmer */
      background: linear-gradient(to right, transparent, hsl(var(--primary)));

      opacity: 0;
      animation: shimmer 4s 2.5s infinite linear forwards;

      @media screen and (prefers-color-scheme: "dark") {
        background: linear-gradient(to right, transparent, hsl(var(--white)));
      }
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   // gradient blurry background
    //   background: linear-gradient(
    //     90deg,
    //     hsl(var(--primary) / 0.1),
    //     hsl(var(--primary) / 0.2),
    //     hsl(var(--primary) / 0.3),
    //     hsl(var(--primary) / 0.4),
    //     hsl(var(--primary) / 0.5),
    //     hsl(var(--primary) / 0.6),
    //     hsl(var(--primary) / 0.7),
    //     hsl(var(--primary) / 0.8),
    //     hsl(var(--primary) / 0.9),
    //     hsl(var(--primary) / 1)
    //   );
    // }

    @keyframes shimmer {
      0% {
        opacity: 0;
        left: -85px; /* Start shimmer offscreen */
      }
      15% {
        opacity: 1;
      }
      40% {
        opacity: 1;
      }
      50% {
        opacity: 0;
        left: 100%;
      }
      50.01% {
        left: 100%;
      }
      100% {
        left: 100%;
      }
    }
  }
}

@media screen and (min-width: 1401px) {
  .header {
    display: grid;
    grid-template-columns: auto auto;

    .left {
      align-self: center;
      max-width: 700px;
      .focus {
      }

      .cta {
        justify-content: flex-start;
      }
    }

    .right {
      align-self: center;
      min-width: 700px;
      max-width: 1000px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .header {
    .left {
      .focus {
        h1 {
          max-width: 700px;
          text-align: center;
        }

        .description {
          text-align: center;
        }
      }
    }

    .right {
      .image {
        max-width: 800px;
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .header {
    padding: 0 0;
    .left {
      .focus {
        h1 {
          font-size: 2.5rem;
        }

        .description {
          font-size: 1.125rem;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .header {
    padding: 0 0;

    .tag {
      margin: -6rem auto 0;
    }
    .left {
      .focus {
        h1 {
          font-size: 2.25rem;
        }

        .description {
          font-size: 1rem;
        }
      }
    }

    .right {
      .image {
        max-width: 100%;
      }
    }
  }
}

@keyframes imageLoad {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes borderLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
