.cardStack {
  aspect-ratio: 1;
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  contain: strict;
  isolation: isolate;
  background-color: transparent;
  z-index: -10000;
  display: flex;
  align-items: center;
  justify-content: center;

  .cardsContainer {
    width: 100%;
    height: 100%;
    perspective: 2000px;
    perspective-origin: 50%;
    position: relative;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;

      background:
        linear-gradient(to bottom, hsl(var(--background)) 20%, transparent 50%),
        linear-gradient(to right, transparent 60%, hsl(var(--background)) 100%);
    }

    .cardStackOnlyRevealCard {
      z-index: 2;
      pointer-events: all;
      background-color: hsl(var(--card) / 0.5);
      backdrop-filter: blur(9px);
      transition: all 0.28s ease;
      width: 300px;

      position: absolute;
      inset: 0;
      margin: auto;
      height: fit-content;
      isolation: isolate;
      contain: paint;
      overflow: hidden;

      &:hover {
        background-color: hsl(var(--card) / 0.8);

        --top: -20px !important;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .cardStack {
  }
}
@media screen and (max-width: 900px) {
  .cardStack {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .cardsContainer {
    perspective: 3000px;
  }
}
