.header {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
    line-height: 1;
  }

  p {
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
    font-weight: 500;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
  }
}
