.gridSection {
}

.imageWrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  z-index: -10;
  .image {
    position: relative;
    width: 100%;
    height: auto;
    .svg {
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
      z-index: -1;
      margin-top: -100px;
    }

    &::before {
      content: "";
      pointer-events: none;
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10000;
      background: linear-gradient(
        to bottom,
        hsl(var(--background)) 22%,
        transparent 35%
      );
    }
    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      inset: 0;
      z-index: 10000;
      background: linear-gradient(
        65deg,
        hsl(var(--background)) 10%,
        transparent 30%
      );
    }
  }
  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 70%,
      hsl(var(--background)) 90%
    );
  }

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    z-index: 1;
    background: linear-gradient(
      to right,
      transparent 70%,
      hsl(var(--background)) 90%
    );
  }
}

@media screen and (max-width: 1399px) {
  .imageWrapper {
    .image {
      .svg {
        margin-top: -50px;
      }

      &::before {
        content: "";
        top: -50px;
        background: linear-gradient(
          to bottom,
          hsl(var(--background)) 20%,
          transparent 25%
        );
      }
    }
    &::after {
      content: "";
      top: -50px;
    }

    &::before {
      top: -50px;
    }
  }
}
@media screen and (max-width: 950px) {
  .imageWrapper {
    .image {
      .svg {
        margin-top: 0px;
      }

      &::before {
        content: "";
        top: 0px;
        background: linear-gradient(
          to bottom,
          hsl(var(--background)) 5%,
          transparent 20%
        );
      }
    }
    &::after {
      content: "";
      top: 0px;
    }

    &::before {
      top: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
  .imageWrapper {
    .image {
      .svg {
        margin-top: 0px;
      }

      &::before {
        content: "";
        top: 0px;
        &::before {
          content: "";
          top: -50px;
          background: linear-gradient(
            to bottom,
            hsl(var(--background)) 1%,
            transparent 10%
          );
        }
      }
    }
    &::after {
      content: "";
      top: 0px;
    }

    &::before {
      top: 0px;
    }
  }
}
