* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
