.why {
  min-width: calc(100vw - 64px * 2);
  height: 100dvh;
  margin: 0 auto;
  padding: 0;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: scroll;
  .item {
    min-width: 100%;
    height: calc(100dvh * 2);
  }
}
