.menu {
  display: flex;

  .hamburgerWrapper {
    display: none;
    .hamburger {
      display: none;
    }
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    .item {
      font-size: 12.8px;
      text-decoration: none;
      color: hsl(var(--foreground) / 0.6);
      transition: color 0.157s ease;

      &:hover {
        color: hsl(var(--foreground) / 1);
      }
    }
  }

  .CTA {
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
    .button {
      padding: 0.4rem 0.65rem;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      color: hsl(var(--foreground) / 0.6);
      border-radius: 4px;
      transition: all 0.24s ease;
      will-change: auto;
      border: 1px solid transparent;
      font-size: 12.8px;
      text-decoration: none;

      &:hover {
        color: hsl(var(--foreground) / 1);
      }
    }
    .signUp {
      border-color: hsl(var(--border));

      &:hover {
        background-color: light-dark(hsl(var(--primary)), hsl(var(--border)));
        color: light-dark(hsl(var(--white)), hsl(var(--foreground)));
      }
    }
    .login {
      &:hover {
        border-color: hsl(var(--foreground) / 0.8);
      }
    }
  }
}

[data-nav-open="false"] {
  .nativeMenu {
    display: none;
  }
}

[data-nav-open="true"] {
  .nativeMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    min-width: 100%;

    .nativeList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      min-width: 100%;
      padding: 2rem 0;

      .nativeItem {
        min-width: 100%;
        padding: 1rem 1.5rem;
        transform: translateY(-20px);
        opacity: 0;
        animation: itemTransition 0.6s ease forwards;
        transition: margin-left 0.24s ease;
        color: hsl(var(--foreground) / 0.6);

        background-color: transparent;
        text-decoration: none;
        position: relative;
        //border-top: 1px solid hsl(var(--border));

        .hoverItem {
          display: none;
        }
        &:hover {
          color: hsl(var(--foreground) / 1);
          margin-left: 5px;

          .hoverItem {
            display: flex;
            font-size: 12px;
            color: hsl(var(--muted-foreground));
            position: absolute;
            top: 70%;
            transform: translateX(-5px);
            opacity: 0;
            animation: slideInItem 0.15s 0.15s ease forwards;
          }
        }

        &:first-child {
          // border-top: none;
        }

        .mobileHoverItem {
          display: flex;
          font-size: 12px;
          color: hsl(var(--muted-foreground));
          position: absolute;
          top: 70%;
          transform: translateX(-5px);
          opacity: 0;
          animation: slideInItem 0.15s 0.15s ease forwards;
        }
      }

      .nativeMobileItem {
        color: hsl(var(--foreground));
      }
    }
  }

  .nativeBackdrop {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--card) / 0.5);
    z-index: 1;
  }

  @media screen and (min-width: 601px) {
    .nativeMenu {
      display: none;
    }
  }
}

@keyframes itemTransition {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .list {
    gap: 1rem;
    .item {
      font-size: 12px;
      white-space: nowrap;
    }

    .CTA {
      gap: 0.65rem;
      margin-left: 1.5rem;

      .button {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    .hamburgerWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.4rem 0.65rem;
      background-color: transparent;
      border: none;
      cursor: pointer;

      min-height: 100%;

      .hamburger {
        display: flex;
        align-self: center;
        cursor: pointer;
        color: hsl(var(--foreground) / 0.6);
        stroke: hsl(var(--foreground) / 0.6);
        position: relative;
        stroke-width: 0.5px;
        transition: all 0.24s ease;

        [data-nav-open="true"] & {
          color: hsl(var(--foreground) / 1);
        }
      }

      &:hover .hamburger {
        color: hsl(var(--foreground) / 1);
        stroke: hsl(var(--foreground) / 1);
        stroke-width: 1px;
      }

      &:active .hamburger {
        transform: scale(0.95);
        color: hsl(var(--foreground) / 1);
      }
    }

    .list {
      display: none;
    }
  }
}

@keyframes slideInItem {
  from {
    transform: translateX(-5px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
