.menu {
  display: flex;

  .hamburger {
    display: none;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    .item {
      font-size: 12.8px;
      text-decoration: none;
      color: hsl(var(--foreground) / 0.6);
      transition: color 0.157s ease;

      &:hover {
        color: hsl(var(--foreground) / 1);
      }
    }
  }

  .CTA {
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
    .button {
      padding: 0.4rem 0.65rem;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      color: hsl(var(--foreground) / 0.6);
      border-radius: 4px;
      transition: all 0.24s ease;
      will-change: auto;
      border: 1px solid transparent;
      font-size: 12.8px;
      text-decoration: none;

      &:hover {
        color: hsl(var(--foreground) / 1);
      }
    }
    .signUp {
      border-color: hsl(var(--border));

      &:hover {
        background-color: light-dark(hsl(var(--primary)), hsl(var(--border)));
        color: light-dark(hsl(var(--white)), hsl(var(--foreground)));
      }
    }
    .login {
      &:hover {
        border-color: hsl(var(--foreground) / 0.8);
      }
    }
  }
}

[data-nav-open="false"] {
  .nativeMenu {
    display: none;
  }
}

[data-nav-open="true"] {
  .nativeMenu {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    min-width: 100%;

    .nativeList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      min-width: 100%;
      padding: 2rem 0;
      .nativeItem {
        min-width: 100%;
        padding: 1rem 1.5rem;
        transform: translateY(-20px);
        opacity: 0;
        animation: itemTransition 0.6s ease forwards;
        color: hsl(var(--foreground) / 0.6);

        background-color: transparent;
        text-decoration: none;
        //border-top: 1px solid hsl(var(--border));

        &:hover {
          color: hsl(var(--foreground) / 1);
        }

        &:first-child {
          // border-top: none;
        }
      }
    }
  }

  .nativeBackdrop {
    position: fixed;
    inset: 0;
    background-color: hsl(var(--card) / 0.5);
    z-index: 1;
  }

  @media screen and (min-width: 601px) {
    .nativeMenu {
      display: none;
    }
  }
}

@keyframes itemTransition {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .list {
    gap: 1rem;
    .item {
      font-size: 12px;
      white-space: nowrap;
    }

    .CTA {
      gap: 0.65rem;
      margin-left: 1.5rem;

      .button {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: relative;
    .hamburger {
      display: flex;
      align-self: center;
      margin-left: 1.5rem;
      cursor: pointer;
      color: hsl(var(--foreground) / 0.6);

      &:hover {
        color: hsl(var(--foreground) / 1);
      }

      &:active {
        transform: scale(0.95);
        color: hsl(var(--foreground) / 1);
      }

      [data-nav-open="true"] & {
        color: hsl(var(--foreground) / 1);
      }
    }

    .list {
      display: none;
    }
  }
}
