.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //   background-color: hsl(var(--muted) / 0.8);
  background-color: hsl(var(--background));
  border-right: 1px solid hsl(var(--muted));

  position: fixed;
  top: calc(var(--nav-height));

  left: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.25s, transform 0.3s ease;

  .close-button {
    display: none;
    visibility: hidden;
    transition: visibility 0.5s;
  }

  .title {
    height: var(--nav-height);
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1.3px solid hsl(var(--muted));
    min-width: 100%;
    font-size: 0.875rem;
    display: none;
  }

  &__getting-started {
    margin-top: 1.5rem;
    color: hsl(var(--foreground) / 0.9);
  }

  nav {
    margin-top: 1rem;
    width: 100%;
    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    visibility: hidden; // Hide the sidebar
    opacity: 0;
    transform: translate(-100%);
  }

  [data-nav-open="true"] {
    .sidebar {
      visibility: visible;
      opacity: 1;
      transform: translate(0);
      z-index: 100;
      position: fixed;
      box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
      top: 0;

      .close-button {
        position: absolute;
        // top: calc(65px - 20px - 2 * 0.65rem);
        top: calc((var(--nav-height) - 20px - 0.65rem * 2) / 2);
        right: 1rem;
        display: flex;
        opacity: 1;
        visibility: visible;
        transition: opacity 0s, visibility 0.5s;
      }

      .title {
        display: flex;
      }

      //   @media screen and (prefers-color-scheme=dark) {
      //     background-color: hsl(var(--muted));
      //   }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: hsl(var(--background));
        z-index: -1;
      }
    }
  }
}

@media screen and (prefers-color-scheme: light) {
  .sidebar {
    nav {
      ul {
        .navlink,
        .navlink-menu {
          //color: hsl(var(--foreground) / 0.8);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .sidebar {
    padding-left: max(32px, calc((100% - (var(--max-width) - 64px)) / 2));
    width: calc(
      (100% - (var(--max-width) - 64px)) / 2 + var(--sidebar-width) - 32px
    );
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
