.navlink,
.navlink-menu {
  list-style-type: none;
  transition: color 0.17s ease;
  border-radius: calc(var(--radius) - 4px);
  position: relative;
  a {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
  }
}

.navlink {
  &:hover {
    a {
      color: hsl(var(--foreground));
    }
  }
}

.hasMenu {
  svg {
    color: hsl(var(--foreground));
  }
}

.navlink-active {
  a {
    color: hsl(var(--primary));
    // color: hsl(var(--primary-foreground-high-contrast));
  }

  &:hover {
    a {
      color: hsl(var(--primary));

      // color: hsl(var(--primary-foreground-high-contrast) / 0.95);
    }
  }
}

.navlink-menu {
  &__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    a {
      &:hover {
        color: hsl(var(--foreground));
      }
    }

    svg {
      cursor: pointer;
      color: hsl(var(--foreground));
      transform: rotate(0deg);
      transition: transform 0.2s ease;
    }
  }

  &__ul {
    &__link {
      animation-name: slideIn;
      animation-duration: 500ms;
      animation-timing-function: ease;
      animation-fill-mode: backwards;

      display: inline-block;
      margin-left: 20px;
      color: hsl(var(--muted-foreground));

      &:hover {
        color: hsl(var(--foreground));
      }
    }
  }
}

.navlink-menu-open {
  .navlink-menu__link-wrapper {
    svg {
      transform: rotate(90deg);
    }
  }
}

.navlink-menu-active {
  .navlink-menu__link-wrapper {
    a {
      color: hsl(var(--primary-foreground-high-contrast));

      &:hover {
        color: hsl(var(--primary-foreground-high-contrast));
      }
    }
  }

  &__ul {
    &__link-active {
      color: hsl(var(--primary-foreground-high-contrast));

      &:hover {
        color: hsl(var(--primary-foreground-high-contrast));
      }
    }
  }
}

.navlink-menu-highlighted {
  color: hsl(var(--foreground)) !important;

  .navlink-menu__link-wrapper {
    a {
      color: hsl(var(--foreground)) !important;
    }
  }
}
