.grid-main-content {
  display: flex;

  flex-direction: column;
  gap: 1.5rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: hsl(var(--foreground) / 0.95);
  }

  p {
    color: hsl(var(--muted-foreground));
  }
}
