.content {
  width: 100%;
  max-width: 64rem;
  background-color: transparent;
}
.content h2 {
  font-size: 1.5rem;
}
.content .benefitList {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 20px;
  background: transparent;
}
@media (max-width: 768px) {
  .content .benefitList {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "item0 item0" "item1 item1" "item2 item2" "item3 item3" "item4 item4" "item5 item5";
  }
}
.content .benefitList .benefitItem {
  color: #ffffff; /* Text color */
  padding: 40px 25px;
  border-radius: var(--radius);
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)),
    var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border: 1px solid hsl(var(--border));
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: border 0.15s ease-in-out;
  background-color: hsl(var(--muted)) !important;
}
.content .benefitList .benefitItem:hover {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.15);
  border: 1.2px solid hsl(var(--border));
}
.content .benefitList .benefitItem .itemHeader {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.content .benefitList .benefitItem .itemHeader h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  color: hsl(var(--foreground));
  background: linear-gradient(
    to top,
    hsl(var(--foreground) / 0.5),
    hsl(var(--foreground))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .benefitList .benefitItem .itemHeader p {
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: 400;
  color: hsl(var(--foreground) / 0.85);
}
.content .benefitList .benefitItem .bulletPointsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.content .benefitList .benefitItem .bulletPointsList .bulletPoint {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  list-style-type: none;
  color: hsl(var(--foreground));
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .benefitItem .bulletPointsList .bulletPoint svg {
    fill: white;
  }
  .content .benefitList .benefitItem .bulletPointsList .bulletPoint svg path,
  .content .benefitList .benefitItem .bulletPointsList .bulletPoint svg rect {
    fill: white;
  }
}
.content .benefitList .benefitItem .itemContent .animationWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100%;
  min-height: 100%;
}
.content .benefitList .benefitItem .itemContent .animationWrapper .animation {
  opacity: 0.95;
}
.content
  .benefitList
  .benefitItem
  .itemContent
  .animationWrapper
  .boostAnimation {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 120% !important;
  bottom: calc(0% - 110px);
  opacity: 0.2;
}
@media screen and (max-width: 768px) {
  .content
    .benefitList
    .benefitItem
    .itemContent
    .animationWrapper
    .boostAnimation {
    left: 25%;
    bottom: calc(0% - 50px);
  }
}
.content .benefitList .item0 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  background-image: linear-gradient(
    to left bottom,
    #2563eb -50%,
    hsl(var(--muted)) 70%
  );
  display: flex;
  flex-direction: row;
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item0 {
    background-image: linear-gradient(
      -50deg,
      #2563eb -250%,
      hsl(var(--black)) 100%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item0 {
    background-image: linear-gradient(
      to left bottom,
      #2563eb -150%,
      hsl(var(--muted)) 100%
    );
    grid-area: item0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark),
  screen and (max-width: 768px) and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item0 {
    background-image: linear-gradient(
      to left bottom,
      #2563eb -150%,
      hsl(var(--black)) 100%
    );
  }
}
.content .benefitList .item1 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  background-image: linear-gradient(
    to right bottom,
    #2563eb -50%,
    hsl(var(--muted)) 70%
  );
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item1 {
    background-image: linear-gradient(
      to right bottom,
      #2563eb -70%,
      hsl(var(--black)) 70%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item1 {
    background-image: linear-gradient(
      -70deg,
      #2563eb -50%,
      hsl(var(--muted)) 100%
    );
    grid-area: item1;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark),
  screen and (max-width: 768px) and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item1 {
    background-image: linear-gradient(
      -70deg,
      #2563eb -50%,
      hsl(var(--black)) 100%
    );
  }
}
.content .benefitList .item2 {
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  background-image: linear-gradient(
    to left top,
    #2563eb -50%,
    hsl(var(--muted)) 70%
  );
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item2 {
    background-image: linear-gradient(
      to left top,
      #2563eb -50%,
      hsl(var(--black)) 70%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item2 {
    background-image: linear-gradient(
      -90deg,
      #2563eb -75%,
      hsl(var(--muted)) 120%
    );
    grid-area: item2;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark),
  screen and (max-width: 768px) and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item2 {
    background-image: linear-gradient(
      -90deg,
      #2563eb -75%,
      hsl(var(--black)) 120%
    );
  }
}
.content .benefitList .item3 {
  grid-column: 4 / span 3;
  grid-row: 3 / span 1;
  background-image: linear-gradient(
    115deg,
    #2563eb -50%,
    hsl(var(--muted)) 50%
  );
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item3 {
    background-image: linear-gradient(
      115deg,
      #2563eb -50%,
      hsl(var(--black)) 50%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item3 {
    background-image: linear-gradient(
      -90deg,
      #2563eb -75%,
      hsl(var(--muted)) 170%
    );
    grid-area: item3;
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }
}
@media screen and (max-width: 768px) and (prefers-color-scheme: dark),
  screen and (max-width: 768px) and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item3 {
    background-image: linear-gradient(
      -90deg,
      #2563eb -75%,
      hsl(var(--black)) 170%
    );
  }
}
.content .benefitList .item4 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  background-image: linear-gradient(
    115deg,
    #2563eb -50%,
    hsl(var(--muted)) 100%
  );
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item4 {
    background-image: linear-gradient(
      115deg,
      #2563eb -50%,
      hsl(var(--black)) 100%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item4 {
    grid-area: item4;
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
  }
}
.content .benefitList .item5 {
  grid-column: 3 / span 4;
  grid-row: 4 / span 1;
  background-image: linear-gradient(
    to bottom left,
    #2563eb -100%,
    hsl(var(--muted)) 70%
  );
}
@media screen and (prefers-color-scheme: dark),
  screen and (-webkit-prefers-color-scheme: dark) {
  .content .benefitList .item5 {
    background-image: linear-gradient(
      to bottom left,
      #2563eb -100%,
      hsl(var(--black)) 70%
    );
  }
}
@media (max-width: 768px) {
  .content .benefitList .item5 {
    grid-area: item5;
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
  }
} /*# sourceMappingURL=benefits.module.css.map */
